/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

@import "components/switch.css";
@import "components/button.css";
@import "sections/header.css";
@import "sections/main.css";
@import "sections/home.css";

/*=============== VARIABLES CSS ===============*/
:root {
  --bg-primary-color: rgb(245, 245, 245);
  --bg-accent-color: var(--accent-color);
  --font-color: black;
  --shadow-color: rgb(0, 0, 0);
  --accent-color: rgb(204, 171, 228);
  --alpha: 0.5;
  --urlImage: url('../bg-light.jpg');
}

/*=============== VARIABLES DARK THEME ===============*/
[data-theme="dark"] {
  --bg-primary-color: rgb(18, 18, 18);
  --bg-accent-color: var(--accent-color);
  --font-color: whitesmoke;
  --shadow-color: rgb(0, 0, 0);
  --accent-color: rgb(204, 171, 228);
  --alpha: 0.5;
  --urlImage: url('../bg-dark.jpg');

}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary-color);
  font-family: "Nunito Sans", sans-serif;
  color: var(--font-color);
  scroll-behavior: smooth;
}
h1,
h2,
p,
span,
a {
  background-color: transparent;
}
li {
  list-style: none;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 0px 0.5px,
    rgba(0, 0, 0, 0.23) 0px 1px 1px;
}
.link {
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--accent-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}

.link:hover,
.active {
  color: var(--accent-color);
  text-shadow: 0.1px 0.1px orange;
}
.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: var(--accent-color);
  width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
section {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section:nth-child(even) {
  background: var(--urlImage) no-repeat;
  background-size: cover;
}

section:nth-child(odd) {
  background: var(--bg-primary-color);
}

span {
  color: var(--accent-color);
  text-shadow: rgba(0, 0, 0, 0.19) 0px 0px 0.5px,
    rgba(0, 0, 0, 0.23) 0px 1px 1px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
