@import "../style.css";

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 2px 10px var(--shadow-color);
  background-color: var(--bg-primary-color);
  z-index: 1;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  display: none;
  cursor: pointer;
}

/* Logo */
.logo {
  text-transform: uppercase;
  color: var(--font-primary-color);
}

/* Hamburger */
.toggle_btn {
  width: 25px;
}

.toggle_btn span {
  display: block;
  height: 2px;
  width: 100%;
  margin: 5px;
  background-color: var(--font-primary-color);
  transform: rotate(0);
  transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.toggle_btn.clicked span {
  background-color: var(--accent-color);
}

.toggle_btn.clicked .one {
  transform: translateY(5px) rotate(45deg);
}

.toggle_btn.clicked .two {
  opacity: 0;
}

.toggle_btn.clicked .three {
  transform: translateY(-10px) rotate(-45deg);
}

/* DropDown Menu (Mobile) */
.dropdown_menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(var(--bg-primary-color), var(--alpha));
  backdrop-filter: blur(20px);
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 100vh;
}

.dropdown_menu ul li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
}
.dropdown_menu ul li a {
  background: rgba(0, 0, 0, 0);
}

/* Media Query */
@media (max-width: 820px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .navbar .logo {
    order: 2;
  }
  .navbar .theme-switch {
    order: 1;
  }
  .navbar .toggle_btn {
    order: 3;
  }
}
