@import "../style.css";

button {
  cursor: pointer;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.4em 1em;
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.5s linear;

  animation: fromRight;
  animation-duration: 5s;
  animation-delay: 0s;
}

button:hover {
  background-color: transparent;
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
